<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>RSS解析表示</h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      XML機能トップへ
    </a>
  </div>
  
  <div class="ui-content" data-role="content" role="main">
    <p>
      Yahoo!ニュースのRSSを解析して表示しています。
    </p>
    <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-inset="true" data-theme="c" data-role="listview" data-filter="true">
      <% @xml.elements.each("/rss/channel/item") do |item| %>
        <li class="ui-li ui-li-static ui-body-c ui-corner-top">
          <h2 class="ui-li-heading" style="white-space:normal;">
            <%= item.elements["title"].get_text %>
          </h2>
          <p class="ui-li-desc" style="white-space:normal;">
            <strong>日付</strong><br />
            <time><%= item.elements["pubDate"].get_text %></time>
          </p>
        </li>
      <% end %>
      </ul>
  </div>
  
</div>
