<div data-role="page" data-theme="b">

	<div data-role="header" data-position="inline">
    <h1>open_url機能</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      System機能リストへ
    </a>
	</div>

  <div data-role="content">
  </div>
</div>
