<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>サーバからJSON取得表示</h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      JSON機能トップへ
    </a>
  </div>

  <div data-role="content">
    <p>Google Map Apiにアクセスして、JSONファイルのダウンロード・解析表示しています。</p>
    <%= @address %>
  </div>

</div>
