<div data-role="page" data-theme="b">

  <div data-role="header" data-position="inline" >
    <h1>署名機能(インライン)</h1>
    <a href="<%= url_for(:action => :index) %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      署名機能TOPへ
    </a>
  </div>

  <div data-role="content">
    <div style="text-align:center;">
      <img src="signature.png" id="inline_sign" width="60%" height="50%" onload="checkSize()" />
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a"><input type="button" value="クリア" onClick="Clear();"></div>
      <div class="ui-block-b"><input type="button" value="キャプチャ" onClick="Capture()"></div>
    </div>
  </div>

</div>

<script type="text/javascript">

function checkSize() {
    if (!document.getElementById('inline_sign')) {
        return;
    }

    <% if System::get_property('platform') == 'ANDROID'%>
        var pixel_ratio = window.devicePixelRatio;
    <% else %>
        var pixel_ratio = 1;
    <% end %>

    var _left = Math.round(pageX(document.getElementById('inline_sign')) * pixel_ratio);
    var _top = Math.round(pageY(document.getElementById('inline_sign')) * pixel_ratio);
    var _width = Math.round(document.getElementById('inline_sign').width * pixel_ratio);
    var _height = Math.round(document.getElementById('inline_sign').height * pixel_ratio);
    $.get('/app/Signature/take_signature_inline', {left: _left, top: _top, width: _width, height: _height});
}

window.onresize = checkSize;
</script>
